@font-face {
    font-family: 'Radikal-Medium';
    src: url('/css/webfonts/2A4C94_2_0.eot');
    src: url('/css/webfonts/2A4C94_2_0.eot?#iefix') format('embedded-opentype'), url('/css/webfonts/2A4C94_2_0.woff') format('woff'), url('/css/webfonts/2A4C94_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Radikal-Bold';
    src: url('webfonts/2A4C94_6_0.eot');
    src: url('webfonts/2A4C94_6_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2A4C94_6_0.woff') format('woff'), url('webfonts/2A4C94_6_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Radikal';
    src: url('webfonts/2A4C94_7_0.eot');
    src: url('webfonts/2A4C94_7_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2A4C94_7_0.woff') format('woff'), url('webfonts/2A4C94_7_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Hero';
    src: url('webfonts/Hero.eot');
    src: url('webfonts/Hero.eot?#iefix') format('embedded-opentype'), url('webfonts/Hero.woff') format('woff'), url('webfonts/Hero.ttf') format('truetype'), url('webfonts/Hero.svg#Hero') format('svg');
}

@font-face {
    font-family: 'Hero-Light';
    src: url('webfonts/Hero_Light.eot');
    src: url('webfonts/Hero_Light.eot?#iefix') format('embedded-opentype'), url('webfonts/Hero_Light.woff') format('woff'), url('webfonts/Hero_Light.ttf') format('truetype'), url('webfonts/Hero_Light.svg#Hero-Light') format('svg');
}

h1, h2, h3, h4, h5, h6, small {
    font-family: 'Hero-Light';
}

h1, h2, h3, h4, h5, h6 {
    font-size: 36pt;
    color: #c42026;
}

small {
    font-size: 14pt;
    color: #3c3c3c;
}

hr {
    background-color: #c42026;
    height: 2px;
}

.grey-border {
    border: 1px solid #686868;
}

.container {
    width: 90%;
}

/*
    For large screens (>= 1200px width) scale font size (factor 1.3) and divider height (1px) up;
*/

@media all and (min-width: 1200px) {
    h1 {
        font-size: 47pt;
    }
    
    small {
        font-size: 19pt;
    }
    
    hr {
        height : 3px;
    }
}

/*
    For small screen (<= 768px width) scale font size (factor 0.72) and divider height (1px) down;
*/

@media all and (max-width: 768px) {
    h1 {
        font-size: 26pt;
    }
    
    small {
        font-size: 10pt;
    }
    
    hr {
        height: 1px;
    }
    
    .rsp-brk {
        display: none;
    }
}