<div class="row">
    <h4>Haustyp:</h4>
    <input ng-repeat="bt in buildingType" ng-click="buildingClick(bt)" type="button" ng-class="choseBuildClass(bt.name)" value="{{bt.name}}"/>
    <hr/>
</div>
<div class="row">
    <h4>Isolierung:</h4>
    <input ng-repeat="iso in chosen.buildingType.isolations" ng-click="isoClick(iso)" type="button" ng-class="choseIsoClass(iso.name)" value="{{iso.name}}"/>
    <hr/>
</div>
<div class="row">
    <h4>Raum:</h4>
    <select class="form-control" ng-model="chosen.roomType" ng-options="room.name for room in roomType" ng-init="chosen.roomType=roomType[0]">
        <option ng-repeat="room in roomType" value="{{chosen.roomType.name}}">{{room.name}}</option>
    </select>
    <hr/>
</div>
<div class="row">
    <h4>Maße (Angaben in m):</h4>
    <form class="form-inline">
        <div class="form-group col-md-4">
            <label for="length">Länge (m):</label>
            <input type="number" id="length" class="form-control" ng-model="chosen.length" placeholder="Länge in Meter">
        </div>
        <div class="form-group col-md-4">
            <label for="width">Breite (m):</label>
            <input type="number" id="width" class="form-control" ng-model="chosen.width" placeholder="Breite in Meter">
        </div>
        <div class="form-group col-md-4">
             <label for="height">Höhe (m):</label>
             <input type="number" id="height" class="form-control" ng-model="chosen.height" placeholder="Höhe in Meter">
         </div>
    </form>
</div>
<div class="row"><hr/></div>
<div class="row">
    <h4>Außenwände, Glassfläche und Position: </h4>
    <form class="form-inline">
        <div class="form-group col-md-4">
            <label for="outWalls">Anzahl der Außenwände: </label>
            <select id="outWalls" class="form-control" ng-model="chosen.outerWalls" ng-options="wall.cnt for wall in outerWalls" ng-init="chosen.outerWalls=outerWalls[0]"></select>
        </div>
        <div class="form-group col-md-4">
            <label for="glass">Fenster (in m³):</label>
            <input id="glass" type="number" class="form-control" ng-model="chosen.glassSurface" placeholder="Glassfläche in m³"/>
        </div>
        <div class="form-group col-md-4">
            <label for="loc">Position: </label>
            <select id="loc" class="form-control" ng-model="chosen.location" ng-options="loc.name for loc in locations" ng-init="chosen.location=locations[0]"></select>
        </div>
    </form>
</div>
<div class="row"><hr/></div>
<div class="row">
    
</div>
<div class="row">
    <h4>Tarif und Heizzeit: </h4>
    <form class="form-inline">
        <div class="form-group col-md-6">
            <label for="costs">Stromtarif (Euro/kWh) :</label>
            <input type="number" id="costs" ng-model="chosen.costs" class="form-control" placeholder="Tarif in Euro pro kWh" step="0.01">
        </div>
        <div class="form-group col-md-6">
            <label for="heatTime">Durchschnittliche Heizzeit (Stunden/Tag) :</label>
            <input type="number" id="heatTime" class="form-control" ng-model="chosen.heatTime" placeholder="Durchschnitt" min="1" max="24">
        </div>
    </form>
</div>
<div class="row"><hr/></div>
<div class="row well col-md-6 col-md-offset-3">
    <div class="row">
        <div class="col-md-3">
            <h4>Erwarteter Verbrauch (pro Tag): </h4>
            <p>{{result | number : 2}}</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h4>Erwartete Kosten (pro Monat): </h4>
            <p>{{resultCosts | number : 2}}</p>
        </div>
    </div>
</div>